.coin {
    padding: 60px 45px;
    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .coinCont {
        .balanceCont {
            //height: 100px;
            width: 30%;
            position: relative;
            padding: 25px 0;
            background: #fffbe6;
            border: 1px dashed rgb(255, 229, 143);
            border-radius: 8px;
            text-align: center;
            .balance {
                margin-bottom: 15px;
                .icon {
                    position: relative;
                    top: 5px;
                }
            }
            .add {
                margin-bottom: 5px;
            }
        }
        .transaction {
            margin-top: 40px;

        }
    }
}