.notificationsList {
    margin: auto;
    width: 70%;
    margin-top: 124px;
    margin-bottom: 60px;
    .title {
        font-weight: bold;
        font-size: 17px;
        color: @sub-color;
    }
    .notifications {
        :global(.ant-list-item) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}