.messenger {
    border-bottom: 0.5px solid @primary-color;
    .conversations {
        .header {
            height: 64px;
            line-height: 64px;
            border-bottom: 0.5px solid @primary-color;
            border-right: 0.5px solid @primary-color;
            position: fixed;
            top: 64;
            left: 0;
            width: 25%;
            z-index: 20000;
            background: white;
            padding-left: 10px;
            .title {
                font-size: 18px;
                font-weight: bold;
                color: @primary-color;
                margin-left: 5px;
                
            }
        }
        .convers {
            margin-top: 64px;
            :global(.ant-list-item) {
                padding-left: 10px;
                padding-right: 10px;
            }
            .oldConverLoading {
                height: 15px;
                position: relative;
                margin-top: 20px;
            }
        }
        height: calc(100vh - 64px);
        border-right: 0.5px solid @primary-color;
    }
    .rightCont {
        .header {
            height: 64px;
            line-height: 64px;
            border-bottom: 0.5px solid @primary-color;
            border-right: 0.5px solid @primary-color;
            position: fixed;
            top: 64;
            left: 25%;
            width: 75%;
            z-index: 20000;
            background: white;
            padding-left: 10px;
            .name {
                font-size: 16px;
                font-weight: bold;
                margin-left: 8px;
                
            }
            .status {
                float: right;
                padding-right: 10px;
                :global(.ant-badge-status-dot) {
                    width: 8px;
                    height: 8px;
                }
            }
        }
        .content {
            margin-top: 64px;
            .info {
                .avatar {
                    text-align: center;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    border-bottom: 0.5px solid @primary-color;
                    .name {
                        font-size: 16px;
                        font-weight: bold;
                        margin-top: 10px;
                    }
                }
                .option {
                    margin-bottom: 10px;
                    .icon {
                        text-align: right;
                    }
                }
            }
            .messages {
                border-right: 0.5px solid @primary-color;
                height: calc(100vh - 64px - 64px);
                // .messagesCont {
                //     &::-webkit-scrollbar {
                //         width: 8px;
                //     }
                      
                //     /* Track */
                //     &::-webkit-scrollbar-track {
                //         background: #f1f1f1; 
                //     }
                    
                //     /* Handle */
                //     &::-webkit-scrollbar-thumb {
                //         background: #333;
                //         border-radius: 5px;
                //     }
                    
                //     /* Handle on hover */
                //     &::-webkit-scrollbar-thumb:hover {
                //         background: #555; 
                //     }
                    
                //     height: calc(100vh - 178px);
                //     overflow-y: scroll;
                // }
                .typeMessage {
                    height: 50px;
                    border-top: 0.5px solid @primary-color;
                    padding: 5px 10px;
                    
                    input {
                        width: 95%;
                        height: 30px;
                        border-radius: 18px;
                        background: rgba(0, 0, 0, 0.02);
                    }
                    i {
                        margin-left: 13px;
                        position: relative;
                        top: 5px;
                    }
                }
                .listmessages {
                    padding: 10px;
                    :global(.ant-list-item) {
                        padding: 0;
                    }
                    p.date {
                        text-align: center;
                        color: wheat;
                        font-weight: bold;
                        font-size: 13px;
                        margin-bottom: 5px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}