.header {
    color: #ffffff;
    font-size: 16px;
    position: fixed;
    z-index: 2;
    width: 100%;
    .logo {
        font-size: 23px;
        font-weight: bold;
        color: @primary-color;
        width: 120px;
        margin: 0;
        float: left;
        line-height: 59px;
    }
    .menu {
        line-height: 64px;
        margin-left: 30px;
        background-color: transparent;
        color: #ffffff;
        width: 65%;
        float: left;
        margin-left: 0;
    }
    .rightContent {
        float: right;
        .messengerPopover, .notificationPopover {
            padding: 0 15px;
            display: inline-block;
            float: right;
            line-height: 69px;
            cursor: pointer;
        }
        .notificationPopover {
            padding: 0 10px;
        }
        .account {
            float: right;
            padding: 0 20px;
            line-height: 64px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
            .name {
                font-size: 14px;
                margin-left: 10px;
            }
        }
        
    }
}

.content {
    width: 160px;
    text-align: left;
    z-index: 20001;
    .profile, .coins, .pun {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .profile, .logout {
        cursor: pointer;
        &:hover {
            color: @primary-color;
        }
    }
}